@import '~vuetify/src/stylus/main';
@import './suitcss/index.css';
@import './utils'

@import url('https://fonts.googleapis.com/css?family=Roboto');

body
  font-family: 'Roboto', sans-serif;

.menu__content > .card
	backface-visibility: visible;
.input-group
	padding-top: 9px;