colors = {
  rouge: #b01e21,
  white-two: #f9f9f9,
  cloudy-blue: #aabccd,
  brownish-grey: #5e5e5e,
  lipstick: #e2202c,
  pale-grey: #e9edf2,
  pale-grey-two: #dfe3e8,
  white: #eaeaea,
  warm-grey: #909090,
  kermit-green: #5ab400,
  real-white: #ffffff,
  pinkish-grey: #c1c1c1
}
