.u-containerSmall
  width 95%
  max-width: 664px

.u-containerMedium
  width 90%

.u-containerCenter
  margin 0 auto

.u-containerDistance--standard

.u-containerDistance--standard2x
  margin-top 60px

.u-containerDistance--standard:after
  display block
  clear both
  content ''